





<h1> A list of all the products </h1>
<hr>
<div>
  <table class="table">
    <thead>
    <tr class="table-info">
      <th>first_name</th>
      <th >last_name</th>
      <th >email</th>
      <th >options</th>
    </tr>
    </thead>

    <tbody>
    <tr  *ngFor="let item of UserList" >
      <td >{{item.first_name}}</td>
      <td >{{item.last_name}}</td>
      <td  >{{item.email}}</td>
      <td  ><button class="btn btn-secondary" [routerLink]="['/user', item.id]" >Details</button></td>

    </tr>
    </tbody>
  </table>
</div>

