





<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>first_name</th>
      <th >last_name</th>
      <th >phone_number</th>
      <th >address</th>
      <th >email</th>
      <th >options</th>
    </tr>
    </thead>

    <tbody>
    <tr  *ngFor="let item of UserList" >
      <td >{{item.first_name}}</td>
      <td >{{item.last_name}}</td>
      <td >{{item.phone_number}}</td>
      <td  >{{item.address}}</td>
      <td  >{{item.email}}</td>
      <td  ><button [routerLink]="['/user', item.id]" >Details</button></td>

    </tr>
    </tbody>
  </table>
</div>

